<table border="0" cellspacing="0" cellpadding="0" id="index_table_questions" class="index_table index" paginator="true">
    <thead>
    <tr>        
        <th class="col col-content">Content</th>
        <th class="col col-group">Group</th>
        <th class="col col-team">Team</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd" id="question_11">        
        <td class="col col-content">하하하</td>
        <td class="col col-group">지역사회/소외계층</td>
        <td class="col col-team">4조</td>
    </tr>
    </tbody>
</table>