<table>
      <thead>
          <tr>
              <th>순위</th>
              <th>학교</th>
              <th>이름</th>
              <th>핑거스냅</th>
                <!-- more columns are possible -->
          </tr>
      </thead>
        <tbody>
          <% rankers.each_with_index do |ranker,i|  %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= ranker.college %></td>
              <td><%= ranker.name %></td>
              <td align="right"><%= ranker.kill_point %></td>
                  <!-- more columns are possible -->
            </tr>
          <% end %>
            <!-- more rows are possible -->
        </tbody>
        <tfoot><!-- optional -->
            <tr>
                <td></td>
            </tr>
        </tfoot>
    </table>