<main class="main" style="margin-left:<%= Css.find_by_name("left")&.width %>px; margin-right:<%= Css.find_by_name("right")&.width %>px">

<div class="container-fluid" style="margin-top: 3em">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-header">Card asdasdtitle</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipisc</div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-success">
        <div class="card-header">Card title</div>
        <div class="card-body">Lorem ipsum dolor sit amet</div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-info">
        <div class="card-header">Card title</div>
        <div class="card-body">Lorem ipsum dolor sit amet</div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-warning">
        <div class="card-header">Card title</div>
        <div class="card-body">Lorem ipsum dolor sit amet</div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card text-white bg-danger">
        <div class="card-header">Card title</div>
        <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipisc</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Traffic & Sales</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="callout callout-info">
                <small class="text-muted">New Clients</small>
                <br>
                <strong class="h4">9,123</strong>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="callout callout-danger">
                <small class="text-muted">Recuring Clients</small>
                <br>
                <strong class="h4">22,643</strong>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-2" width="100" height="30"></canvas>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="callout callout-warning">
                <small class="text-muted">Pageviews</small>
                <br>
                <strong class="h4">78,623</strong>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="callout callout-success">
                <small class="text-muted">Organic</small>
                <br>
                <strong class="h4">49,123</strong>
                <div class="chart-wrapper">
                  <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</main>


 <script>
;
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('<%= Pusher.key %>', {
      cluster: 'ap3',
      forceTLS: true
    });

    var channel = pusher.subscribe('qa-channel');
    channel.bind('qa-event', function(data) {
      console.log(JSON.stringify(data));
    });

  </script>
