<aside class="aside-menu" style="width:<%= Css.find_by_name("right")&.width %>px; overflow-y:scroll;" id="aside">
  <!-- Tab panes-->
    <div style="padding: 0px; ">
      <div class="list-group list-group-accent" id="bamboo">
        <div id="bamboo_title" class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small" style="background-color:#bee0c3!important;color:black!important; width:<%= Css.find_by_name("right")&.width %>px; "> 대나무숲</div>
        <% @bamboos.each do |bamboo|%>
          <div class="list-group-item list-group-item-accent-success list-group-item-divider">
            <div>
              <strong><%= bamboo.content %></strong>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</aside>
<style>
  #bamboo{
     font-size: <%= Css.find_by_name("BambooFontSize")&.width %>px
 }
</style>