<header class="app-header navbar">
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img class="navbar-brand-full" src="/img/logo.png" width="40" height="40" alt="dongguk Logo">
    <!--<img class="navbar-brand-minimized" src="/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">-->
  </a>
  <button class="btn btn-secondary mb-1" type="button" data-toggle="modal" data-target="#largeModal">로또</button>
  
</header>
