 <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('<%= Pusher.key %>', {
      cluster: 'ap3',
      forceTLS: true
    });

    var helper_channel = pusher.subscribe('helper-channel');
    helper_channel.bind('qa-event', function(data) {
      let css;
      let icon
      if (data.group.search("더 나은")!=-1){
        css = 'bg-warning'
        icon = 'fa-lightbulb-o'
      }else if (data.group.search("지역")!=-1){
        css = 'bg-success'
        icon = 'fa-group'
      }else{ 
        css = 'bg-info'
        icon = 'fa-graduation-cap'
      }
      qaString = "<div class=\"col-sm-6 col-md-4\"><div id=\"question-"+ data.id +"\"<div class=\"card text-white " + css +  " _question_card\">" +
              "<div class=\"card-header _question_title\" style=\"font-size: <%= Css.find_by_name('CardHeader').width %>px\">" +
                "<i class=\"fa " + icon + " fa-lg\"></i>"+ data.group +
                "<span class=\"float-right _question_team\" style=\"font-size: <%= Css.find_by_name('CardHeader').width %>px\">" + data.team + 
                "</span></div><div class=\"card-body _question_content\" style=\"font-size: <%= Css.find_by_name('CardBody').width %>px\">" +
                data.content + "</div></div></div></div>"
      $("#question").append(qaString)
      $("html").scrollTop($("html")[0].scrollHeight)
      
    });
    var bamboo_channel = pusher.subscribe('bb-channel');
    bamboo_channel.bind('bb-event', function(data) {
      console.log("in")
      myString = "<div class=\"list-group-item list-group-item-accent-success list-group-item-divider\">" +
      "<div> <strong>" + data.content + "</strong></div></div>"      
      
      $("#bamboo").append(myString)
      $("#aside").scrollTop($("#aside")[0].scrollHeight);
    });
    var finger_snap_channel = pusher.subscribe('fs-channel');
    finger_snap_channel.bind('finger-snap', function(data){
      fsString = "question-"+data.question
      finger_snap(document.getElementById(fsString))      
    });

</script>x