<div class="sidebar custom" style="width:<%= Css.find_by_name("left")&.width %>px">
  <nav class="sidebar-nav" style="width:<%= Css.find_by_name("left")&.width %>px">

  

  </nav>
  <button class="brand-minimizer" type="button"></button>
</div>
